# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
data/

# --- Virtual‑envs ---
.env/
.venv

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Editors / IDEs ---
.vscode/
.idea/